/* static/css/style.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background: #0f1012; /* Очень темный фон */
}

.bg-gradient-primary {
    background: linear-gradient(45deg, #4e54c8, #8f94fb);
}

.card {
    border-radius: 12px;
}

/* Анимация при наведении */
.btn {
    transition: all 0.3s ease;
}